@media (max-width: 767px) {
	.wrapper {
		background-image: none !important;
	}

	.form-wrapper {
		padding: 30px 20px;
	}

	.h2 {
		font-size: 20px;
	}

	.h6 {
		font-size: 15px;
	}

	.app-intro {
		padding: 20px 30px;
	}

	.onboard-vector {
		display: none;
	}

	.card-dashboard {
		padding: 20px 10px 20px 0 !important;
		font-size: 14px !important;
	}

	.card-title {
		color: #3a3a3a !important;
	}

	.modal-list .MuiListItem-secondaryAction,
	.modal-list .MuiListItemText-primary,
	.modal-list .MuiListItemSecondaryAction-root {
		font-size: 10px !important;
	}


	.action-card {
		padding: 20px 20px;
	}
	
	.action-card h4 {
		font-size: 15px !important;
		font-weight: bold;
		color: #3a3a3a;
	}

	.action-card h6 {
		font-size: 13px !important;
		color: #7a7a7a;
	}

	.MuiSnackbarContent-message{
		font-size: 11px !important;
	}

	.MuiSnackbarContent-action .MuiButton-label{
		font-size: 11px !important;
	}

	#page-title{
		font-size: 15px !important;
	}
	
}

